@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/responsive.scss";
@import "../../../../../styles/sizes.scss";

.card-container {
  width: 100%;
  max-height: 900px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $secondary-color;
  text-shadow: black 0.1em 0.1em 2.5em;
  cursor: pointer;
  @include desktop {
    margin-bottom: 200px;
  }
  &__img {
    width: 100%;
    min-height: 236px;
    object-fit: cover;
  }
  &__headline {
    font-weight: normal;
    position: absolute;
    padding: 0 8px;
    @include desktop {
      font-size: $big-headline;
    }
  }
}
