<div class="card-container">
  <img
    class="card-container__img"
    src="{{ newsCardDetail.firstImgUrl }}"
    alt="{{ newsCardDetail.firstImgAlt }}"
  />
  <h2 class="card-container__headline">{{ newsCardDetail.newsHeadline }}</h2>
</div>
