<section class="view-news-container flex">
  <img
    class="view-news-container__img"
    src="{{ viewNews.firstImgUrl }}"
    alt="{{ viewNews.firstImgAlt }}"
  />
  <article class="content-container">
    <h4 class="content-container__cover-info">{{ viewNews.tag }}</h4>
    <h1 class="content-container__headline">{{ viewNews.newsHeadline }}</h1>
    <h4 class="content-container__cover-info">{{ viewNews.author }}</h4>
    <p class="content-container__main-text">{{ viewNews.newsText }}</p>
    <p class="content-container__main-text">{{ viewNews.newsTextSecond }}</p>
    <p class="content-container__main-text">{{ viewNews.newsTextThird }}</p>
    <p class="content-container__main-text">{{ viewNews.newsTextFourth }}</p>
    <p class="content-container__main-text">{{ viewNews.newsTextFifth }}</p>
    <img
      class="content-container__img"
      src="{{ viewNews.secondImgUrl }}"
      alt="{{ viewNews.secondImgAlt }}"
    />
    <p class="content-container__date">{{ viewNews.publishingDate }}</p>
  </article>
</section>
