@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

* {
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-news-container {
  margin: 15px 0 100px;
  font-family: $sans-serif;
  @include tablet {
    margin-bottom: 300px;
  }
  @include desktop {
    margin-bottom: 450px;
  }
  &__img {
    width: 100%;
    max-height: 800px;
    margin-bottom: 15px;
    object-fit: cover;
  }
}

.content-container {
  width: 90%;
  margin-top: 25px;
  @include tablet {
    margin-top: 35px;
    width: 70%;
  }
  @include desktop {
    width: 50%;
    margin-top: 65px;
  }
  &__cover-info {
    font-weight: normal;
  }
  &__headline {
    font-weight: 500;
    margin: 20px 0 5px;
    @include desktop {
      font-size: $big-headline;
      margin-bottom: 20px;
    }
  }
  &__main-text {
    text-align: justify;
    margin: 15px 0;
    font-family: $serif-font;
  }
  &__img {
    width: 100%;
    margin: 20px 0;
  }
  &__date {
    font-size: $small-text;
  }
}
