<section class="footer-container flex">
  <div class="footer-container__rrss flex">
    <img
      class="footer-container__rrss__icon"
      src="{{ facebook }}"
      alt="facebook"
    />
    <img
      class="footer-container__rrss__icon"
      src="{{ twitter }}"
      alt="twitter"
    />
    <img
      class="footer-container__rrss__icon"
      src="{{ instagram }}"
      alt="instagram"
    />
    <img
      class="footer-container__rrss__icon"
      src="{{ soundcloud }}"
      alt="soundcloud"
    />
  </div>
  <p class="footer-container__info">Mystic Beat©2021</p>
</section>
