@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";
* {
  background-color: $third-color;
  color: $secondary-color;
}

.flex {
  width: 100%;
  display: flex;
}

.footer-container {
  flex-direction: column;
  align-items: center;
  &__rrss {
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
    &__icon {
      width: 7%;
      margin: 5px;
      cursor: pointer;
      @include tablet {
        width: 4%;
      }
      @include desktop {
        width: 1.5%;
      }
    }
  }
  &__info {
    font-size: $small-text;
    margin: 5px 0 20px;
    font-family: $sans-serif;
  }
}
