<div class="header-container flex">
  <img
    class="header-container__logo"
    [routerLink]="['home']"
    src="{{ logo }}"
    alt="Mystic Beats Logo"
  />
  <nav class="header-menu flex">
    <p class="header-menu__link" [routerLink]="['news']">{{ news }}</p>
    <p class="header-menu__link" [routerLink]="['about']">{{ about }}</p>
    <p class="header-menu__link" [routerLink]="['contact']">{{ contact }}</p>
  </nav>
</div>
