@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/responsive.scss";
@import "../../../styles/sizes.scss";
.flex {
  width: 100%;
  display: flex;
}

.header-container {
  flex-direction: column;
  align-items: center;
  &__logo {
    width: 40%;
    margin: 15px 0 35px;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
    @include tablet {
      width: 26%;
      margin: 24px;
    }
    @include desktop {
      width: 12%;
    }
  }
  @keyframes float {
    0% {
      transform: translatey(15px);
    }
    50% {
      transform: translatey(5px);
    }
    100% {
      transform: translatey(15px);
    }
  }
}

.header-menu {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $third-color;
  font-family: $sans-serif;
  &__link {
    margin: 0 14px;
    cursor: pointer;
    font-size: $secondary-small;
    @include tablet {
      font-size: $secondary-big;
    }
  }
  &__link:hover {
    text-decoration: line-through;
  }
}
