<section class="home-container">
  <h1 class="home-container__title">{{ title }}</h1>

  <div class="home-container__cover" *ngFor="let coverNewsDetail of dataCover">
    <app-cover-news
      [coverNewsDetail]="coverNewsDetail"
      [routerLink]="['/view-news', coverNewsDetail.id]"
    ></app-cover-news>
  </div>

  <div class="news-row">
    <div class="news-row__item" *ngFor="let newsRowDetail of dataRow">
      <app-news-row
        [newsRowDetail]="newsRowDetail"
        [routerLink]="['/view-news', newsRowDetail.id]"
      ></app-news-row>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
