@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

.home-container {
  width: 100%;
  margin-top: 85px;
  font-family: $sans-serif;
  display: flex;
  flex-direction: column;

  &__title {
    margin-left: 55px;
    color: $third-color;
    font-size: $main-size;
  }
  &__cover {
    width: 100%;
  }
}

.news-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 100%;
    margin: 50px 0 100px;
    flex-direction: row;
  }
  &__item {
    width: 76%;
    max-width: 295px;

    @include tablet {
      width: 50%;
      max-width: 332px;
    }
    @include desktop {
      width: 24%;
      min-height: 400px;
      max-height: 400px;
      max-width: 351px;
      margin: 0 25px;
    }
  }
}
