<form
  class="form flex"
  novalidate
  [formGroup]="newsletterForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-container flex">
    <fieldset class="form-container__fieldset">
      <label class="form-container__fieldset__label" for="email"
        >subscribe to our newsletter</label
      >
      <input
        class="form-container__fieldset__input"
        type="email"
        id="email"
        formControlName="email"
        placeholder="enter your email"
      />
    </fieldset>

    <button class="form-container__button" type="submit">submit</button>
  </div>
</form>
