@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/sizes.scss";
@import "../../../../../styles/responsive.scss";

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  font-size: $secondary-small;
  font-family: $sans-serif;
  margin: 140px 0 120px;
  @include desktop {
    font-size: $big-headline;
    min-height: 500px;
    margin-bottom: 190px;
  }
}

.form-container {
  &__fieldset {
    border: none;
    display: flex;
    &__input {
      font-family: $sans-serif;
      font-size: $secondary-small;
      border: none;
      margin-left: 16px;
      @include desktop {
        font-size: $big-headline;
      }
    }
    &__input::placeholder {
      color: $third-color;
    }
  }
  &__button {
    font-family: $sans-serif;
    font-size: $secondary-small;
    background-color: $secondary-color;
    border: none;
    @include desktop {
      font-size: $big-headline;
    }
  }
  &__button:hover {
    text-decoration: line-through;
  }
}
