<div class="row-item">
  <img
    class="row-item__img"
    src="{{ newsRowDetail.newsCoverUrl }}"
    alt="{{ newsRowDetail.newsCoverAlt }}"
  />
  <h1 class="row-item__headline">{{ newsRowDetail.headline }}</h1>
</div>
