@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/responsive.scss";
@import "../../../../../styles/sizes.scss";

.row-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: $small-text;
  margin-bottom: 24px;
  &__img {
    width: 100%;
    min-height: 245px;
    object-fit: cover;
    @include tablet {
      min-height: 340px;
    }
    @include desktop {
      min-height: 324px;
      max-height: 324px;
    }
  }
  &__headline {
    font-weight: normal;
  }
}
/* .row-item {
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__img {
    width: 100%;
    object-fit: cover;
    min-height: 255px;
  }
}
 */
