@import "../../../../../styles/colors.scss";
@import "../../../../../styles/fonts.scss";
@import "../../../../../styles/responsive.scss";
@import "../../../../../styles/sizes.scss";

.cover-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: $secondary-color;
  text-align: center;
  margin-bottom: 90px;
  @include desktop {
    max-height: 990px;
  }
  &__img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;
  }
  &__headline {
    position: absolute;
    text-shadow: black 0.1em 0.1em 2em;
    font-weight: normal;
    @include desktop {
      font-size: $big-headline;
    }
  }
}
