<div class="cover-news">
  <img
    class="cover-news__img"
    src="{{ coverNewsDetail.newsCoverUrl }}"
    alt="{{ coverNewsDetail.newsCoverAlt }}"
  />
  <h1 class="cover-news__headline">{{ coverNewsDetail.headline }}</h1>
</div>
