@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";

.response-container {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-family: $sans-serif;
  text-align: center;
  @include desktop {
    height: 70vh;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    &__headline {
      color: $third-color;
      margin-bottom: 22px;
    }
    &__message {
      font-weight: normal;
      margin-bottom: 15px;
      @include tablet {
        width: 50%;
        margin-bottom: 22px;
      }
      @include desktop {
        width: 30%;
      }
    }
    &__farewell {
      font-weight: 500;
    }
  }
  &__button {
    margin: 40px;
    color: $secondary-color;
    background-color: $primary-color;
    width: 110px;
    height: 38px;
    border: none;
    border-radius: 4px;
  }
}
