<!-- <div *ngFor="let user of users">
    <p>{{user.email}}</p>

</div> -->
<section class="response-container" *ngIf="dataResponse">
  <div class="response-container__content">
    <h1 class="response-container__content__headline">
      {{ dataResponse.messageHeadline }}
    </h1>
    <h4 class="response-container__content__message">
      {{ dataResponse.message }}
    </h4>
    <h3 class="response-container__content__farewell">
      {{ dataResponse.farewell }}
    </h3>
  </div>
  <button class="response-container__button" [routerLink]="['/home']">
    {{ button }}
  </button>
</section>
