<section class="news-container flex">
  <div
    class="news-container__card"
    *ngFor="let newsCardDetail of dataNews.slice().reverse(); let i = index"
  >
    <app-news-card
      [newsCardDetail]="newsCardDetail"
      [routerLink]="['/view-news', newsCardDetail.id]"
    ></app-news-card>
  </div>
  <button
    (click)="scrollToTop()"
    class="news-container__scroll-button"
    *ngIf="pageYoffset > 0"
  >
    Go to top
  </button>
</section>
