@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/responsive.scss";
@import "../../../../styles/sizes.scss";
.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.news-container {
  margin: 15px 0 100px;
  font-family: $sans-serif;
  @include tablet {
    margin-bottom: 170px;
  }

  &__title {
    color: $third-color;
    width: 100%;
    text-align: left;
  }
  &__card {
    width: 100%;
  }
  &__scroll-button {
    width: 120px;
    height: 42px;
    border: none;
    border-radius: 5px;
    position: fixed;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: $secondary-small;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 4px;
  }
}
