@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $sans-serif;
  margin: 85px 0 0;
  text-align: center;
  min-height: 80vh;
  @include desktop {
    margin-top: 200px;
  }
  &__description {
    font-weight: normal;
  }
  &__email {
    color: $third-color;
    text-decoration: none;
    @include tablet {
      font-size: $big-headline;
    }
  }
  &__email:hover {
    text-decoration: line-through;
  }
  &__rrss {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    &__item {
      margin: 3px 0;
    }
  }
}
