<section class="contact-container" *ngIf="dataContact">
  <h3 class="contact-container__description">
    {{ dataContact.contactDescription }}
  </h3>
  <h3>
    <a
      class="contact-container__email"
      href="mailto:mysticbeat@mysticbeat.com"
      >{{ dataContact.contactEmail }}</a
    >
  </h3>
  <div class="contact-container__rrss">
    <p class="contact-container__rrss__item">
      {{ dataContact.instagramContact }}
    </p>
    <p class="contact-container__rrss__item">
      {{ dataContact.facebookContact }}
    </p>
    <p class="contact-container__rrss__item">
      {{ dataContact.twitterContact }}
    </p>
    <p class="contact-container__rrss__item">
      {{ dataContact.soundcloudContact }}
    </p>
  </div>
</section>
