@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";
@import "../../../../styles/sizes.scss";
@import "../../../../styles/responsive.scss";
.flex {
  display: flex;
  flex-direction: column;
}

.about-container {
  margin: 85px 40px 64px;
  font-family: $sans-serif;
  min-height: 80vh;
  @include tablet {
    margin: 105px 75px 0;
  }
  @include desktop {
    margin: 120px 90px 0;
  }
  &__headline {
    text-align: center;
    width: 100%;
    color: $third-color;
    @include desktop {
      font-size: $big-headline;
    }
  }
  &__description {
    width: 100%;
    margin-top: 45px;
    font-weight: lighter;
    &__paragraph {
      text-align: justify;
      margin-bottom: 7px;
    }
  }
}
