<section class="about-container flex" *ngIf="dataAbout">

    <h1 class="about-container__headline flex">{{dataAbout.aboutSection}}</h1>
    <div class="about-container__description flex">
        <p class="about-container__description__paragraph flex">{{dataAbout.aboutDescription}}</p>
        <p class="about-container__description__paragraph flex">{{dataAbout.secondParagraph}}</p>
        <p class="about-container__description__paragraph flex">{{dataAbout.thirdParagraph}}</p>
        <p class="about-container__description__paragraph flex">{{dataAbout.fourthParagraph}}</p>
    </div>

</section>